<div class="container">
    <div class="row">
      <div class="col">
        <h2>Histórico de Vendas</h2>
        <div class="custom-table" id="sales-history-table">
          <table class="table">
            <thead>
              <tr>
                <th>Data e Hora</th>
                <th>Usuário</th>
                <th>Quantidade Vendida</th>
              </tr>
            </thead>
            <tbody id="sales-history-body">
              <!-- Linhas da tabela de Histórico de Vendas aqui -->
            </tbody>
          </table>
        </div>
        <script>src="src/assets/HistoricoVenda.js"</script>
      </div>
  
  
      <div class="col">
        <h2>Vendas por Categoria</h2>
        <div class="custom-table" id="sales-by-category-table">
          <table class="table">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>Total de Vendas</th>
              </tr>
            </thead>
            <tbody id="sales-by-category-body">
              <!-- Linhas da tabela de Vendas por Categoria aqui -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Produtos Mais Vendidos</h2>
        <div class="custom-table" id="top-selling-products-table">
          <table class="table">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Total de Vendas</th>
              </tr>
            </thead>
            <tbody id="top-selling-products-body">
              <!-- Linhas da tabela de Produtos Mais Vendidos aqui -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
              
  
  </div>
  