<div class="card-deck">
  <div *ngFor="let product of products">
    <div class="card">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/51RaEU3ohuL._AC_SX679_.jpg" alt="Fone">
      <div class="card-body">
        <h5 class="card-title">{{ product.descricao }}</h5>
        <p class="card-text">Com este fone você conseguirá ouvir muito melhor do que com outros!!</p>
        <p class="card-text">Estoque: <span id="stock">{{ product.estoque }}</span></p>
        <p class="card-text">Valor em Reais: R$ <span id="price-reais">{{ product.valor }}</span></p>
        <p class="card-text">Valor em Dólares: $<span id="price-dollars"></span></p>
        <p class="card-text">Status: <span id="status"></span></p>
        <button class="btn btn-primary" id="buy-button">Comprar</button>
      </div>
    </div>
  </div>
</div>

<script src="Angular/ecommerce/src/assets/ProductStatus.js"></script>
<script src="Angular/ecommerce/src/assets/APIConvert.js"></script>
